<p style="color: green"><%= notice %></p>
<div class="container">
<%= render @article %>
</div>
<div>
  <%= link_to "Back to articles", articles_path, class: 'link-app' %>

  <% if user_signed_in? %>
  <%= link_to "Edit this article", edit_article_path(@article) %> 
  <%= button_to "Destroy this article", @article, method: :delete %>
  <%end%>
</div>
