<div class="container"> 
  <div id="<%= dom_id application %>">
    <p>
      <strong>Title:</strong>
      <%= application.title %>
    </p>

    <p>
      <strong>Author:</strong>
      <%= application.author %>
    </p>

    <p>
      <strong>Rd:</strong>
      <%= application.rd %>
    </p>

    <p>
      <strong>Ca:</strong>
      <%= application.ca %>
    </p>

    <p>
      <strong>Cs:</strong>
      <%= application.cs %>
    </p>

  <p>
    <%= image_tag application.img, style:'width: 200px; height: 200px'%>
  </p>


  </div>
</div>