<div class="container" id="app-div"> 
  <div id="<%= dom_id application %>">
    <p>
      <strong>Title:</strong>
      <%= application.title %>
    </p>

    <p>
      <strong>Author:</strong>
      <%= application.author %>
    </p>

    <p>
      <strong>Release date (year-month-day):</strong>
      <%= application.rd %>
    </p>

    <p>
      <strong>Crack author:</strong>
      <%= application.ca %>
    </p>

    <p>
      <strong>Crack status:</strong>
      <% if application.cs == true %>
      Cracked
      <%else%>
      Not cracked yet
      <%end%>
    </p>

    <p>
      <strong>Size (GB):</strong>
      <%= application.size %>
    </p>

    <p>
      <strong>Type:</strong>
      <% case application.app_type%>
      <% when 0 %>
        Game
      <% when 1 %>
        Video Editor
      <% when 2 %>
        3D Model Editor
      <% when 3 %>
        IDE / Text Editor
      <% when 4 %>
        Audio / Music Editor
      <% when 5 %>
        Premiere Pro Plugin
      <% when 6 %>
        Virtual Machine Manager
      <% when 7 %>
        Image Editor
      <% when 8 %>
        Office Packet
      <% else %>
        Unknown type
      <% end %>
    </p>

    <p>
      <% if application.img%>
        <%= image_tag application.img%>
      <% end %>
    </p>

    <% if current_page?('/applications') %>
      <p class="show">
        <%= link_to "Show this application", application, class:"link" %>
      </p>
    <% end %>
    </div>
</div>