
  <div id="<%= dom_id application %>">
    <p>
      <strong>Title:</strong>
      <%= application.title %>
    </p>

    <p>
      <%= application.author %>
    </p>

    <p>
      <strong>Release date (year-month-day):</strong>
      <%= application.rd %>
    </p>

    <p>
      <strong>Crack author:</strong>
      <%= application.ca %>
    </p>

    <p>
      <strong>Crack status:</strong>
      <% if application.cs == true %>
      <span style="color: green"> Cracked </span>
      <%else%>
      <span style="color: red"> Not cracked yet </span>
      <%end%>
    </p>

    <p>
      <% if application.img%>
        <%= image_tag application.img, class:"image"%>
      <% end %>
    </p>

    <% if current_page?('/applications') %>
      <p class="show">
        <%= link_to "Show this application", application, class:"link" %>
      </p>
    <% end %>
    </div>