<%= form_with(model: application) do |form| %>
  <% if application.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
        <% application.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="block">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="block">
    <%= form.label :author, style: "display: block" %>
    <%= form.text_field :author %>
  </div>

  <div class="block">
    <%= form.label :rd, style: "display: block" %>
    <%= form.date_field :rd %>
  </div>

  <div class="block">
    <%= form.label :ca, style: "display: block" %>
    <%= form.text_field :ca %>
  </div>

  <div  class="block">
    <%= form.label :cs, style: "display: block" %>
    <%= form.check_box :cs, class: "checkbox" %>
  </div>

  <div class="block">
    <%= form.label :img, style: "display: block" %>
    <%= form.text_field :img %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
