<p style="color: green"><%= notice %></p>

<%= render @application %>

<div>
  <%= link_to "Edit this application", edit_application_path(@application) %> |
  <%= link_to "Back to applications", applications_path %>

  <%= button_to "Destroy this application", @application, method: :delete %>
</div>
