<p style="color: green"><%= notice %></p>

<%= render @application %>

<div class="show-application-container">
  <%= link_to "Back to applications", applications_path, class:"link" %>
  <% if user_signed_in? %> <!-- SHOW THIS OPTIONS ONLY IF USER IS SIGNED IN -->
  <%= link_to "Edit this application", edit_application_path(@application), class:"link" %>
  <%= button_to "Destroy this application", @application, method: :delete, class: "button" %>
  <% end %>
</div>
