<nav>
    <%= link_to 'IIC', root_path, class:'nav-element'%>
    <%= link_to 'About Us', home_about_path, class:'nav-element'%>
    <%= link_to 'Donate', wallets_path, class:'nav-element'%>
    <%= link_to 'Articles', articles_path, class:'nav-element'%>
    <%if user_signed_in? %>
    <%= link_to 'Control Panel', home_control_path, class:'nav-element'%>
    <%end%>
</nav>

