<nav>
    <%= link_to 'IIC', root_path, class:'iic-nav-element'%>
    <%= link_to 'About Us', home_about_path, class:'iic-nav-element'%>
    <%= link_to 'Database', applications_path, class:'iic-nav-element'%>
    <%= link_to 'Donate', home_donate_path, class:'iic-nav-element'%>
    <%= link_to 'Sign in', new_user_session_path, class:'iic-nav-element'%>
    <%= button_to 'Logout', destroy_user_session_path, method: :delete, class:'iic-nav-element-button'%>
</nav>