<div class="apps-con">
  <div id="search">
      <%= form_tag(home_search_path, :method => "get") do %>
    <div class="input-group">
      <%= search_field_tag :search, params[:search], placeholder: "Title ", class: "form-control" %>
      <%= button_tag "Search for application", :class => 'btn btn-info glyphicon glyphicon-search', :title => nil %>
    </div>
  <% end %>
  </div><br>
<div id="applications">
    <% @results.each_slice(3) do |applications| %>
          <%- applications.each do |application| %>
            <div class="app">
              <div class="app-left">
                <%= image_tag application.img, class:"image"%>
              </div>
              <div class="app-right">
                <strong><%= application.title %></strong><br>
                <%= application.author %><br>
                <%= application.rd %><br><br>
                Status: 
                <% if application.cs == true %>
                <span style="color: green"> Cracked </span>
                <%else%>
                <span style="color: red"> Not cracked yet </span>
                <%end%><br>
                Crack: <%= application.ca %>
              </div>
            </div>
          <%end%>
    <%end%>
</div>
</div>