<%= form_with(model: user_app) do |form| %>
  <% if user_app.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user_app.errors.count, "error") %> prohibited this user_app from being saved:</h2>

      <ul>
        <% user_app.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    Software title:
    <%= form.text_field :title %>
  </div>

  <div>
    Software author: 
    <%= form.text_field :author %>
  </div>

  <div>
    Release date: 
    <%= form.date_field :rd %>
  </div>

  <div>
    Crack author: 
    <%= form.text_field :ca %>
  </div>

  <div>
    Cracked: 
    <%= form.check_box :cs %>
  </div>

  <div>
    Image URL:
    <%= form.text_field :img %>
  </div>

  <div>
    Game size (GB): 
    <%= form.text_field :size %>
  </div>

  <div>
    Software type:
    <%= form.number_field :app_type %>
    <%=link_to "Software types", home_about_path, class: 'link-app'%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
