<div id="<%= dom_id user_app %>">
  <p>
    <strong>Title:</strong>
    <%= user_app.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= user_app.author %>
  </p>

  <p>
    <strong>Rd:</strong>
    <%= user_app.rd %>
  </p>

  <p>
    <strong>Ca:</strong>
    <%= user_app.ca %>
  </p>

  <p>
    <strong>Cs:</strong>
    <%= user_app.cs %>
  </p>

  <p>
    <strong>Img:</strong>
    <%= user_app.img %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= user_app.size %>
  </p>

  <p>
    <strong>App type:</strong>
    <%= user_app.app_type %>
  </p>

</div>
